/* Banner Image */
.banner {
	width: 100%;
	height: 10vh;
	background: url('src/images/banner_image.jpg') no-repeat center center;
	background-size: cover;
}


/* Navigation bar */
nav {
        background: #e2d4d4;
        text-align: center;
        padding: 10px;

}

nav a {
        color: black;
        margin: 0 15px;
        text-decoration: none;
        font-size: 18px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background 0.3s;

}

nav a:hover {
        background: white;
}


/* Main Content Area */
#contentFrame {
    	width: 100%;
    	height: 80vh;
       
}


/* Navigation bar */

body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;

	/*background-color:powderblue;*/ 

	background-image: url('src/images/Computer.gif');
	background-size: cover;
    
    
	height: 100vh;
	padding:0;
	margin:0;
}

 	
}

h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	text-align: center;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
	
	background: #264237;
	
}


h2 {
	border: 2px outset black;
	display: block;

	font-size: 25px;
	margin-top: 1.67em;
	margin-bottom: 0.67em;

	margin-left: 2%;
	margin-right: 2%;
	font-weight: oblique;
	text-align: Center;
        font-family: Arial, sans-serif;
        margin: 2;
        padding: 0;

	background: #f2e0bf;

	border-radius: 25px;
	width: 25%;
}



.myDiv {
  	border: 2px outset black;
  	background: #f2e0bf;
  	text-align: justify;

  	padding-top: 5px;
  	padding-right: 50px;
  	padding-bottom: 5px;
  	padding-left: 50px;

	margin-left: 2%;
	margin-right: 2%;
	
	border-radius: 25px;
}


audio {	
	background: #f2e0bf;
	width: 100%;
}


.avatar {
  	vertical-align: middle;
  	width: 100px;
  	height: 100px;
 	border-radius: 50%;
}


.button {
  	background-color: #04AA6D; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	border-radius: 25px;

 
}

audio::-webkit-media-controls-panel {
  	background-color: coral;
	
}







/* Photography */


* {
  box-sizing: border-box;
  border-radius: 10px;

}


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */

.row,
.row > .column {
  padding: 8px;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {

  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;

}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}






/* div 50 */
/* ******************** */

* {
  box-sizing: border-box;
 }

/* Create two equal columns that floats next to each other */
.column_50 {
  float: left;
  width: 50%;
  padding: 10px;


}

/* Clear floats after the columns */
.row_50:after {
  content: "";
  display: table;
  clear: both;
}


/* */
.center {
  display: block;
  width: 80%;
}





